<!-- TODO make a background photo for navbar --> 
<div class="bg-slate-400/40 py-3">
    <nav class="max-w-7xl mx-auto flex justify-between items-center">
        <div id="logo" class="text-2xl text-rose-800 font-corinth">Mimi J's</div>
        <ul class="flex justify-between">
            <li class="text-sm ml-2 text-gray-800 cursor-pointer font-light">Recipes</li>
            <li class="text-sm ml-2 text-gray-800 cursor-pointer font-light">Blog</li>
            <li class="text-sm ml-2 text-gray-800 cursor-pointer font-light">About</li>
        </ul>
    </nav>
</div>