{{/*  CSS  */}}
{{ $bundleCSS := slice }}
{{ $tailwindCSS := resources.Get "css/main.css" | minify}}
{{ $customCSS := resources.Get "css/custom.css" | minify }}
{{ $bundleCSS = $bundleCSS | append $tailwindCSS $customCSS }}
{{ $bundleCSS = $bundleCSS | resources.Concat "css/bundle.css" | fingerprint }}

{{/*  Pre loaded JS  */}}
{{ $preJS := resources.Get "js/pre.js" | js.Build | minify }}

<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<script src="{{ $preJS.Permalink | absURL }}"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Corinthia&family=Roboto+Slab&family=Bitter&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ $bundleCSS.Permalink | absURL }}">

{{/*  <link href="/main.css" rel="stylesheet" />  */}}
