<div class="rec-card rounded overflow-hidden w-60 px-4 opacity-0 h-68 relative mt-3 hover:!opacity-50 transition-opacity duration-150">
    
    {{ $categories := "" }}
    {{ with .Params.categories }}
            {{ $categories = . }}
    {{ end }}
    {{ $firstCat := index $categories 0 }}
    {{ $thumbNail := .Resources.GetMatch "images/thumbnail.jpg" }}

    {{/*  Link to the recipe's page  */}}
    <a href="{{ .RelPermalink }}">
        
        <div class="overflow-hidden rounded-sm h-2/3 w-30 scroller load-hidden">
            {{ with $thumbNail }}
                <img 
                    class="object-cover h-full w-full" 
                    src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}" 
                    alt="{{ $.Title }}">
            {{ end }}
        </div>
        
        {{/*  Stars and Title  */}}
        <div class="mt-2">
            <div class="flex justify-center">
                {{ $starOpts := dict "color" "text-rose-800" }}
                {{ range seq 1 .Params.stars }}
                    <div class="px-1">
                        {{ partial "icons/star.html" (merge (dict "stars" .) $starOpts) }}
                    </div>
                {{ end }}
                {{ if gt (sub 5 .Params.stars) 0 }}
                    {{ range seq 1 (sub 5 .Params.stars) }}
                        <div class="px-1">
                            {{ partial "icons/star.html" (dict "color" "text-slate-400")  }}
                        </div>
                    {{ end }}
                {{ end }}
            </div>
            <div class="mt-2">
                <h3 class="text-2xl text-center font-slab filter drop-shadow-md">{{ .Title }}</h3>
            </div>
        </div>
    </a>
</div>