<div class="rounded w-1/3 mt-2 relative">
    {{ $thumbNail := .Resources.GetMatch "images/thumbnail.jpg" }}
    <div class="w-full h-42">
        {{ with $thumbNail }}
            <img 
                class="object-cover h-full w-full" 
                src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}" 
                alt="{{ $.Title }}">
        {{ end }}
    </div>
    <div class="absolute">
        {{ $categories := .Params.categories }}
        <h3>{{ reflect.IsSlice $categories }}</h3>
    </div>
</div>