{{ define "main" }}
<div class="bg-rose-800">
    <div class="flex flex-col items-center py-4">
        
        {{ $navOpts := dict "color" "text-rose-200" }}
        {{/*  Breadcrumb Navigation   */}}
        {{ partial "navigation/navlink-sections.html" . }}
        
        {{/*  Title for section  */}}
        <h3 class="text-slate-200 text-5xl font-bitter mt-8">{{ .Title }}</h3>
        
        {{/*  Description from _index.md  */}}
        <p class="text-lg font-bitter text-rose-200 mt-4 mb-12 px-6 text-center">{{ .RawContent | markdownify }}</p>
    
    </div>
</div>  

<div class="flex justify-center mt-10">
    {{ range .Pages }}
        {{ if .IsPage }}
            {{ partial "sections/recipes/recipe-card.html" . }}
        {{ else }}
            {{ partial "sections/recipes/section-card.html" . }}
        {{ end }}
    {{ end }}
</div>

{{ end }}