<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "head/head.html" }}
        <title>Mimi J's Bakery</title>
    </head>
    <body id="main" class="transition-opacity duration-75">
        
        <!-- Navbar -->
        {{ partial "navigation/navbar" . }}
        
        <!-- Main body -->
        <div class="">
            <div class="max-w-7xl mx-auto pt-5">
                {{ block "main" . }}{{ end }}
            </div>
        </div>

        {{/*  TODO: Footer  */}}
        <script language="javascript" type="text/javascript"  src={{ "js/main.js" | absURL }}></script>
    </body>
</html>
