{{ define "main" }} {{ $test := "Welcome" }}

    <p class="font-slab text-gray-700 text-center mb-2 animate-slideInLeft text-sm">{{ .Site.Params.homePageSaying }}</p>
    <h2 class="animate-slideInLeft text-center font-corinth text-4xl text-rose-800 p-10 w-1/2 mx-auto border rounded-sm shadow-lg">
        {{ $test }}
    </h2>

    {{/*  Looping through Recipes sections  */}}
    <div class="flex justify-between w-full">
        {{ range first 3 (where .Site.RegularPages "Section" "recipes") }}
            {{ partial "sections/recipes/recipe-card.html" . }}
        {{ end }}
    </div>

{{ end }}
