{{ define "main" }} {{ $test := "Welcome" }}

    <p class="font-slab text-gray-700 text-center mb-2 animate-slideInLeft text-sm">{{ .Site.Params.homePageSaying }}</p>
    <h2 class="animate-slideInLeft text-center font-corinth text-4xl text-rose-800 p-10 w-1/2 mx-auto border rounded-sm shadow-lg">
        {{ $test }}
    </h2>

    <div id="weather-cont" class="w-full mx-auto text-center relative">
        <button data-open="false" id="weather-btn" class="font-slab m-10 px-3 py-2 shadow-lg text-lg font-semibold border-rose-800 border-4 text-rose-800 rounded-lg">Weather</button>
    </div>

{{ end }}
